In [1]:
 # importing libraries
import psycopg2
from sqlalchemy import create_engine
import os 
import pandas as pd 
from psycopg2 import OperationalError
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
 # Connecting to the database 
engine = create_engine(
    f"postgresql+psycopg2://{os.getenv('postgre_account')}:{os.getenv('postgre_password')}@localhost:5432/{os.getenv('database')}"
)

In [3]:
 # Loading the data as DataFrames
saved_tracks = pd.read_sql("SELECT * FROM saved_tracks", engine)
playlists = pd.read_sql("SELECT * FROM playlists", engine)
top_artists = pd.read_sql("SELECT * FROM top_artists", engine)
top_tracks = pd.read_sql("SELECT * FROM top_tracks", engine)
recently_played_tracks = pd.read_sql("SELECT * FROM recently_played_tracks", engine)
followed_artists = pd.read_sql("SELECT * FROM followed_artists", engine)
saved_albums = pd.read_sql("SELECT * FROM saved_albums", engine)

In [ ]:
 # Saved_tracks
display(saved_tracks)
print(saved_tracks.columns.to_list())
display(saved_tracks.describe())
display(saved_tracks.describe(include = object).T)

,id,name,artist_name,artist_id,album_name,album_id,duration,explicit,popularity
0,2J6OF7CkpdQGSfm1wdclqn,Clouded,Brent Faiyaz,3tlXnStJ1fFhdScmQeLpuG,Fuck The World,3vi20DRHkqv4HyVg9Rt9wC,110128,True,79
1,66TTutUCqCpAzGCBcsBuYy,Waiting In Vain - Bob Marley: One Love - Music...,Daniel Caesar,20wkVLutqVOYrc0kxFs7rA,Waiting In Vain (Bob Marley: One Love - Music ...,6ZKGdyXuM5z1nYuCx6YjWP,301466,False,59
2,3EOzLBxti9kA01UvwfbPxs,TOO DEEP TO TURN BACK,Daniel Caesar,20wkVLutqVOYrc0kxFs7rA,CASE STUDY 01,7lb4ck9tn2ZaJRrYjhyP9A,318533,True,65
3,1mvDFqbbmgmMmU6U4dIq5m,Forbidden Fruit (feat. Kendrick Lamar),J. Cole,6l3HvQ5sa6mXTsMTB19rO5,Born Sinner (Deluxe Version),5FP9keIJnlSCKnkdVOf623,268666,True,66
4,2fkeWbM6iqTw7oGHTYm2lw,4422,Drake,3TVXtAsR1Inumwj472S9r4,More Life,1lXY618HWkwYKJWBRYR4MK,186293,False,69
...,...,...,...,...,...,...,...,...,...
495,2LD2gT7gwAurzdQDQtILds,Veridis Quo,Daft Punk,4tZwfgrHOc3mvqYlEYSvVi,Discovery,2noRn2Aes5aoNVsU6iWThc,345186,False,76
496,4CE9MRRT9KwCgouf3eM85L,Spend My Days,Spence Lee,14an7ScQuhM34iovTS6CNa,S.H.O.T.T.A.,53BUO883zRxzLTHppZAc9P,153600,True,33
497,2mzM4Y0Rnx2BDZqRnhQ5Q6,Free Mind,Tems,687cZJR45JO7jhk1LHIbgq,For Broken Ears,2sU8ByeYc5BOBFNDr58CGV,247578,False,77
498,5r30gHLxvhp60XMc5TIIMh,Denver,Jack Harlow,2LIk90788K0zvyj2JJVwkJ,Jackman.,1ep4OEfNOhvcY85STfEtKy,158237,True,72
499,6MtStOzbbrBAEJUgLeYkIg,DO BETTER,Ab-Soul,0g9vAlRPK9Gt3FKCekk4TW,HERBERT,1hNzs6WR8UbUsAkyr4jXEO,231888,True,62

['id', 'name', 'artist_name', 'artist_id', 'album_name', 'album_id', 'duration', 'explicit', 'popularity']

          duration  popularity
count     500.0000  500.000000
mean   214503.0640   60.098000
std     78872.5984   21.194027
min     34665.0000    0.000000
25%    166847.7500   53.000000
50%    209811.5000   64.000000
75%    249456.5000   74.000000
max    602296.0000   94.000000

            count unique                     top freq
id            500    500  6MtStOzbbrBAEJUgLeYkIg    1
name          500    497          Love, of Money    2
artist_name   500    255                 J. Cole   18
artist_id     500    255  6l3HvQ5sa6mXTsMTB19rO5   18
album_name    500    393                Freudian    5
album_id      500    403  41GuZcammIkupMPKH2OJ6I    5

From the output we can see that the saved_tracks dataframe has a total of 9 columns

In [20]:
 # Checking for duplicates and null values
display(saved_tracks.isnull().sum())
display(saved_tracks.nunique())

id             0
name           0
artist_name    0
artist_id      0
album_name     0
album_id       0
duration       0
explicit       0
popularity     0
dtype: int64

id             500
name           497
artist_name    255
artist_id      255
album_name     393
album_id       403
duration       495
explicit         2
popularity      74
dtype: int64

In [21]:
 # Playlists
display(playlists)
print(playlists.columns.to_list())
display(playlists.describe())
display(playlists.describe(include = object).T)

,id,name,owner_id,tracks,public
0,6Pg4aEjusdmupnIU3lwaTh,Muhiki Wa Mikosi,43rd4xexolpiac081m1ngw5ue,1,True
1,314n8k5HQafloYBSoQpgSJ,Me walking through the school hallways:,31bmg3cyhhncej2e5cslrcljrfru,1175,True
2,0XyecDuOwJ6WnNOKOPT4p7,.To be named later,43rd4xexolpiac081m1ngw5ue,41,False
3,2FWHYI61XTpVSvhr3BpW79,Sounds I love,43rd4xexolpiac081m1ngw5ue,152,True
4,3drAqyxFs54xxaTA00db26,Reggae ‚ù§Ô∏èüíõüíö,31newdriwnkh6m3tcnmstspsst7m,161,True
5,1AmPdqxo5mLmGlexBAeMVo,Late Night Drive,ja3t9dn7t7dou8nru1xqbkurq,201,True
6,0B5wOBGxLfKrRyAzTRQQKG,The Lo-Fis,31newdriwnkh6m3tcnmstspsst7m,36,True
7,0M6e4DK9GOw4RRLt1OyK33,Thursday,31newdriwnkh6m3tcnmstspsst7m,33,True
8,3yrU7WyL7q3VosfG2BBmbt,90'S Legends üòéüòå,43rd4xexolpiac081m1ngw5ue,25,True
9,1UtQp6JF7ZLirT5O6HrzI3,üåüüåüüåü,m4j6zyi8888xgn3a3piqo06fd,330,True
10,5w0NeJTpf24MDdRA5O99rH,living kills,develdmanfam,110,True
11,14odOyOQXtdHrNYSmdur3K,I dunno the genre.,43rd4xexolpiac081m1ngw5ue,6,False
12,5jkFyQsJ8jhLSl3DmrijeV,OLD SOUL,43rd4xexolpiac081m1ngw5ue,64,True
13,5O9NC6Dy43fYpRWTA4Xs08,OLDIES MY MUM MADE ME LISTEN TO,43rd4xexolpiac081m1ngw5ue,60,False
14,7cxcALLQ3a5F24Eu4buWXm,.,43rd4xexolpiac081m1ngw5ue,35,True
15,4mXKyPg4EClGp4dAfOpjpt,üë®üèæ‚Äçüç≥,31newdriwnkh6m3tcnmstspsst7m,32,True
16,7zwRgcyP3veX2y47AwPwdF,Dancehall,31newdriwnkh6m3tcnmstspsst7m,64,True
17,0awEPiA0aFgxX1tKFfGBHU,Pieces ü§≤,31newdriwnkh6m3tcnmstspsst7m,61,True
18,3b7LTAivH87OR9hThQTJNZ,Mapensss ‚ù§Ô∏è,3154mukloeices2kl2q4hs6ezjvy,68,True
19,3PtqtwGZW5JaUvPrkdb20f,Vibes,43rd4xexolpiac081m1ngw5ue,136,False
20,4mqXoBqLlq1YdNbCR48niw,üîå,31newdriwnkh6m3tcnmstspsst7m,94,True
21,2XtWFaCOyBe08DX5SvNRFF,"Givƒìon, Brent & Frank Ocean",31newdriwnkh6m3tcnmstspsst7m,94,True
22,1M5NJfrcs5zqat3IzX0bU8,R&B,31newdriwnkh6m3tcnmstspsst7m,84,True
23,1JQd4Hrc6vZGaHV1zZ5pdf,,vg4a1wl4kcpe93lsh6r4sjli2,61,True
24,7Lf3L4R2OznOwqhj8Vf0mB,Dark rnb vibes,ja3t9dn7t7dou8nru1xqbkurq,121,True

['id', 'name', 'owner_id', 'tracks', 'public']

            tracks
count    25.000000
mean    129.800000
std     228.996907
min       1.000000
25%      36.000000
50%      64.000000
75%     121.000000
max    1175.000000

         count unique                        top freq
id          25     25     6Pg4aEjusdmupnIU3lwaTh    1
name        25     25           Muhiki Wa Mikosi    1
owner_id    25      8  43rd4xexolpiac081m1ngw5ue    9

The playlists dataframe has a total of 5 columns

In [22]:
 # Checking for duplicates and null values
display(playlists.isnull().sum())
display(playlists.nunique())

id          0
name        0
owner_id    0
tracks      0
public      0
dtype: int64

id          25
name        25
owner_id     8
tracks      22
public       2
dtype: int64

In [23]:
 # Top Artists
display(top_artists)
print(top_artists.columns.to_list())
display(top_artists.describe())
display(top_artists.describe(include = object).T)

,record_id,id,name,popularity,followers,genre,date
0,1,20wkVLutqVOYrc0kxFs7rA,Daniel Caesar,86,9762288,no_genre,2025-06-29
1,3,6kmDosYCYjFQtywDq0DLPZ,Khamari,61,231215,indie r&b,2025-06-29
2,4,3tlXnStJ1fFhdScmQeLpuG,Brent Faiyaz,84,7543733,r&b,2025-06-29
3,5,1Xyo4u8uXC1ZmMpatF05PJ,The Weeknd,97,107168869,no_genre,2025-06-29
4,6,2YZyLoL8N0Wb9xBt1NhZWg,Kendrick Lamar,95,42364128,hip hop,2025-06-29
5,7,2h93pZq0e7k5yf4dywlkpM,Frank Ocean,88,19244665,no_genre,2025-06-29
6,8,6aaMZ3fcfLv4tEbmY7bjRM,Isaiah Rashad,70,1577916,no_genre,2025-06-29
7,9,4V8LLVI7PbaPR0K2TGSxFF,"Tyler, The Creator",90,22673513,no_genre,2025-06-29
8,10,1peoXq0RPx7czVoFjloeDQ,MAVI,58,236066,experimental hip hop,2025-06-29
9,11,3QTDHixorJelOLxoxcjqGx,SiR,68,1147300,alternative r&b,2025-06-29
10,12,5K4W6rqBFWDnAN6FQUkS6x,Kanye West,93,30296586,rap,2025-06-29
11,13,3TVXtAsR1Inumwj472S9r4,Drake,98,99631493,rap,2025-06-29
12,14,2ICR2m4hOBPhaYiZB3rnLW,Sonder,73,1865249,dark r&b,2025-06-29
13,15,57vWImR43h4CaDao012Ofp,Steve Lacy,81,6075031,no_genre,2025-06-29
14,16,1grN0519h2zYqpRtYbDZAl,Larry June,70,520553,no_genre,2025-06-29
15,17,1ybINI1qPiFbwDXamRtwxD,Smino,68,1037917,no_genre,2025-06-29
16,18,4fpwOzxFRMVGfd197dKIdY,Boldy James,63,292340,boom bap,2025-06-29
17,19,6l3HvQ5sa6mXTsMTB19rO5,J. Cole,86,26516106,rap,2025-06-29
18,20,2QsynagSdAqZj3U9HgDzjD,Bob Marley & The Wailers,84,13194107,reggae,2025-06-29
19,21,0eVyjRhzZKke2KFYTcDkeu,The Alchemist,72,842890,alternative hip hop,2025-06-29

['record_id', 'id', 'name', 'popularity', 'followers', 'genre', 'date']

       record_id  popularity     followers
count  20.000000   20.000000  2.000000e+01
mean   11.450000   79.250000  1.961110e+07
std     6.004165   12.565094  3.111320e+07
min     1.000000   58.000000  2.312150e+05
25%     6.750000   69.500000  9.891602e+05
50%    11.500000   82.500000  6.809382e+06
75%    16.250000   88.500000  2.363416e+07
max    21.000000   98.000000  1.071689e+08

      count unique                     top freq
id       20     20  20wkVLutqVOYrc0kxFs7rA    1
name     20     20           Daniel Caesar    1
genre    20     11                no_genre    8
date     20      1              2025-06-29   20

In [24]:
 # Checking for duplicates and null values
display(top_artists.isnull().sum())
display(top_artists.nunique())

record_id     0
id            0
name          0
popularity    0
followers     0
genre         0
date          0
dtype: int64

record_id     20
id            20
name          20
popularity    16
followers     20
genre         11
date           1
dtype: int64